@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header-line {
  position: fixed;
  width: 100%;
  padding: 10px;
  background: #e60d2e;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  z-index: 2;
}

.header-line strong a {
  text-decoration: underline;
  color: white;
}

nav {
  background: white;
  width: 100%;
  position: fixed;
  z-index:1;
}

.navbar {
  width: 75%;
  margin: 0 auto;
  padding: 20px 0;
  transition: top 0.3s ease; 
}

.navbar.with-headline {
  margin-top: 40px;
}

.navbar.no-headline {
  margin-top: 0;
}
.hamburger{
  display: none;
}.hamburger.show{
  display: block;
  transition: 0.3s ease-in;
}
.hamburger span{
  display: block;
  margin: 7px;
  width: 25px;
  height: 2.5px;
  background: #000;
}
/* .navbar .logo{
  width: 300px;
  height: 50px;
padding-top: 5px;} */
.main-nav {
  background: #fff;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar input {
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 24px;
  color: #969696;
  outline: none;
  padding: 10px 12px 10px 45px;
  width: 100%;
}
.navbar input::placeholder{
  font-size: 16px;
}
.search-bar {
  position: relative;
  flex: 1; 
  min-width: 200px; 
  max-width: 500px;
}
.nav-sign {
  color: #4e4e4e;
  display: flex;
}
.nav-sign span{
  font-size: 18px;
  height: 30px;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 14px;
  border: none;
  background: none;
  outline: none;
}

.sub-nav {
  width: 78%;
  margin: 0 auto;
  position: relative;
}

.main-nav a {
  text-decoration: none;
  border-radius: 50px;
  color: red;
  border: 1px solid red;
  padding: 10px 20px;
}

.sub-nav ul li a {
  text-decoration: none;
  color: hsl(0, 1%, 19%);
  font-weight: 600;
}

.sub-nav ul {
  display: flex;
  justify-content: space-around;

}

.sub-nav ul li {
  padding: 15px 10px;
  list-style-type: none;
  font-size: 16px;
  /* display: inline-block;
  margin-left: 20px; */
}
.sub-nav-sign{
  display: none;
}
.cross{
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.banner {
  background-image: url(../assets/images/bannerimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  padding: 30px 0px;
  position: absolute;
  top: 210px;
  /* z-index: -1; */
  width: 100%;
/* padding-top : 110px; */
}

.banner-content {
  width: 73%;
  margin: 0px auto;
  color: white;
}

.banner-content h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.banner-content .sub-content {
  width: 50%;
  font-size: 25px;
  margin: 10px 0px;
  line-height: 1.5;
}

.banner-content .banner-btn {
  border: 1px solid white;
  border-radius: 16px;
  padding: 13px 20px;
  font-size: 20px;
  display: inline-block;
  margin-top: 10px;
}

@media screen and (max-width:1300px) {

  .navbar,
  .sub-nav {
    width: 85%;
  }
  .banner-content {
    width: 83%;
  }
}

@media screen and (max-width:1200px) {

  .navbar,
  .sub-nav {
    width: 90%;
  }
  .banner-content {
    width: 88%;
  }
}

@media screen and (max-width:1150px) {

  .navbar,
  .sub-nav {
    width: 95%;
  }
  .banner-content {
    width: 95%;
  }
}

@media screen and (max-width:950px) {
  .navbar .header-btn {
    display: none;
  }
   
.banner-content h1 {
  font-size: 35px;
  font-weight: 800;
}

.banner-content .sub-content {
  font-size: 23px;
}

.banner-content .banner-btn {
  font-size: 23px;
}
}
@media screen and (max-width:800px){
  .sub-nav{
    display: none;
  }
  .sub-nav.active{
    display: block;

  }
  .sub-nav.active ul {

    flex-direction: column;
  }
  .banner{
    top:150px;
    height: auto;
  }
  
.banner-content h1 {
  font-size: 30px;
  font-weight: 800;
}

.banner-content .sub-content {
  font-size: 20px;
  width: 80%;
}

.banner-content .banner-btn {
  font-size: 18px;
}
}
@media (max-width: 768px) {
  .header-line{
    font-size: 13px;
  }
  .navbar{
    width: 100%;
    padding-bottom: 0;
  }
  .search-bar{
    margin-top: 20px;
    width: 100%;
  }
  .main-nav{
    flex-direction: column;
    padding-bottom: 5px
    /* justify-content: ; */
  }
  .hamburger {
    width: 90%;
    justify-content: start;
    display: block;
  }
  .sub-nav ul {
    display: ${isHamburgerOpen ? 'block' : 'none'};
  }
  .sub-nav ul li {
    margin: 0px 20px;
    border-bottom: 1px solid  #d2d2d2;
  }
  
.sub-nav ul li a {
  color:  #4e4e4e;
  font-weight: 300;
}
  .nav-sign{
    display: none;
  }
  
  .banner{
    top:190px;
   }
.sub-nav.active {
  background: rgb(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index:3!important;
}
.sub-nav.active .sub-nav-menu{
  width: 80%;
  background: white;
  margin: 0;
  padding: 0;
  height: 100%;
}
.sub-nav-sign{
  display: flex;
  border-bottom: 2px solid #d2d2d2;
  margin: 0px 20px 20px 20px;
  padding: 15px 0px;
}
.cross{
  display: block;
}
} 